*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif ;
}
.container{
    margin: 20px auto;
    max-width: 1280px;
    border: 1px solid red;
}

.centralizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

/* INICIO TOPO*/

header div h3{
    font-size: 16px;
    color: #E1624F;
    padding-bottom: 5px;
}

header div h1{
    margin-bottom: 30px;
}

#ultimo-paragrafo p{
    text-align: center;
    margin: 15px 15px 25px 15px;
}



/* FIM TOPO*/